@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';

*{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    list-style: none;
}
div{
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
}
// .custom-grid{
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(37.5em, 1fr));
// }