@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';

@font-face {
    font-family: 'EBGaramond';
    src: url('./fonts/EBGaramond-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    list-style: none;
}
div{
    width: 100%;
}
.top{
    background-color: #FFD965;
}
.super-top{
    background-color: #F4B083;
}

.eu4-style{
    font-family: 'EBGaramond';
    color: #ebd234;
    text-shadow: 0 0 4px rgba($color: black, $alpha: 0.75);
}

#spinner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    place-content: center;
    overflow: hidden;
    z-index: 10;
}